
/*-------------------------Fonts---------------------*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

/*------------------------Header------------------------*/
.header-container{
display: flex;
justify-content: space-between;
align-content: center;
border: 2px solid lightgrey;
border-radius: 8px;
background-color: rgb(19,43,100);
color: lightgrey;
padding: 6px;
width: 99%;
height: 75px;
font-family: 'Noto Serif', serif;
}

#name-header{
    display:flex;
    justify-content: flex-start;
}

#page-nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-size: xx-large;
    padding-right: 6px;
}

#head-links{
    text-decoration: none;
    color: lightgrey;
}

/*-----------------------------------Home Page-----------------------------------*/
.home-container{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    font-family: 'Merriweather', serif;
    background-image: linear-gradient(rgb(19,43,100), lightgrey, white);
    border-radius: 8px;
    padding: 6px;
    width: 99%;
    height: 100;
}

#blurb{
    color: lightgrey;
}

#beast{
    width: 30%;
    height: 65%;
    border-radius: 8px;
}

#allContacts{
    display: flex;
    flex-direction: column;

}

#contactMe-container{
    margin-top: 6px;
    color: rgb(19,43,100) 
}

#name, #email {
    width: 13vw;
    min-width: 108px;
    padding-right: 0;
    font-family: 'Merriweather', serif;
}

.info-input {
    background-color: rgb(236, 236, 236);
}

#name-email {
    display: flex;
    justify-content: space-between;
    width: 27.5vw;
    min-width: 220px;
    margin-left: 1vw;
}

#message-container {
    margin-top: 10px;
    margin-left: 1vw;
    width: 27.5vw;
}

#message {
    font-family: 'Merriweather', serif;
    width: calc(27.5vw - 6px);
    min-width: 220px;
    height: 100px;
}

.button-bar {
    margin-bottom: 5vh;
}

/*-----------------------------PortFolio Page Links------------------------------*/ 
.portLink-wrapper{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    font-family: 'Merriweather', serif;
    background-image: linear-gradient(rgb(19,43,100), lightgrey, white);
    border-radius: 8px;
    padding: 6px;
    width: 99%;
    height: 100;

}

#portLink-container{
    color: lightgrey;
}

#link-Linkedin{
    color: rgb(19,43,100);
}

/*-----------------------------------About Page----------------------------------*/
#about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Merriweather', serif;
    color: lightgrey;
    background-image: linear-gradient(rgb(19,43,100), lightgrey, white);
    border-radius: 8px;
}

#title{
    font-size: 2vw;
}

/*----Paragraph and Image Block----*/
#wrapperOne{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: rgb(19,43,100);
}

#kayak{
    height: 55vh;
}

#about-paraOne{
    width: 40vw;
    font-size: 1.5vw;
}
/*----Image Block----*/
#about-img-block{
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    
}

#probowl{
    height: 50vh;
}

#percy{
    height: 50vh;
}

#beer{
    height: 50vh;
}
/*----Paragraph Block-----*/
#about-paraTwo{
    display: flex;
    justify-content: center;
    width: 80%;
    color: rgb(19,43,100);
    font-size: 1.5vw;
    padding-top: 30px;
}